body,
html {
  font-family: "Cairo", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p,
li {
  font-weight: 400;
}
.whatsapp-icon {
  position: fixed;
  bottom: 20px; /* Adjust the distance from the bottom */
  right: 20px; /* Adjust the distance from the right */
  background-color: #25d366; /* WhatsApp green */
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  text-decoration: none;
  z-index: 10000;
}

.whatsapp-icon i {
  color: white;
  font-size: 24px;
}

.whatsapp-icon:hover {
  background-color: #128c7e; /* Darker green on hover */
}

header,
footer {
  background-color: #0086c5;
}
header img {
  width: 80px;
}
.navbar {
  background-color: #005b7f !important;
}
.navbar .nav-link {
  color: #fff !important;
  transition: color 0.3s ease;
}
.navbar .nav-link:hover {
  color: #ffc107 !important;
}
